{% extends 'base.html' %}

{% block container %}
<div class="top-pad">

<h1>Route</h1>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-3 col-xs-2 text-center">
                Distance
                <h2>{{ route.distance|round(1) }} <small>km</small></h2>
            </div>
            <div class="col-lg-3 col-xs-2 text-center">
                Speed
                <h2>{{ route.distance|round(1) }} <small>km/h</small></h2>
            </div>
            <div class="col-lg-3 col-xs-2 text-center">
                Duration
                <h2>{{ (route.duration//3600)|int }}:{{ ((route.duration % 3600)//60)|int }}:{{ (route.duration%60)|int }}</h2>
            </div>
            <div class="col-lg-3 col-xs-2 text-center">
                Calories
                <h2>{{ route.calories|round(1) }} <small>Cal</small></h2></div>
        </div>

    </div>
</div>


</div>
{% endblock %}

{% block extrajs %}
{% endblock %}
